{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>NotesDB - The Ultimate Note Database</title>
		<meta name="description" content="The ultimate platform for sharing your study notes, exploring and studying with the communities.">
		<meta name="viewport" id="viewport" content="width=device-width,user-scalable=no,initial-scale=1" />
		<meta property="og:image" content="{% static 'base/thumbnail.png' %}">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="1024">
		<meta property="og:image:height" content="1024">
		<link rel="icon" href="{% static 'base/favicon.ico' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static "base/main.css" %}">
	</head>
	<body>
		{% block navbar %}
		{% include "base/navbar.html" %}
		{% endblock %}
		<main>
			{% block sidebar %}
			{% include "base/sidebar.html" %}
			{% endblock %}
			<div class="content">
				{% block title_container %}
				<div class="title-wrapper">
					<div class="title">
						<h1>{% block title %}{% endblock %}</h1>
						<div></div>
					</div>
				</div>
				{% endblock %}
				
				<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
				<script src="https://unpkg.com/smooth-scrollbar@8.6.3/dist/smooth-scrollbar.js"></script>
				<script src="https://unpkg.com/pdfjs-dist@2.9.359/build/pdf.min.js"></script>
				<script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
				{% block content %}{% endblock %}
			</div>
		</main>
	</body>
	<script>
		document.querySelector(".content").style.height = window.innerHeight - document.querySelector("nav").clientHeight - 30 + "px"
	</script>
</html>