<div class="sidebar">
	<div class="sidebar-item">
		<a href='{% url 'home' %}' class="active"><span class="iconify" data-icon="akar-icons:grid" data-inline="false"></span>Home</a>
		<a><span class="iconify" data-icon="carbon:chart-line-data" data-inline="false"></span>Statistic</a>
		<a><span class="iconify" data-icon="carbon:time" data-inline="false"></span>Recent</a>
		<a><span class="iconify" data-icon="carbon:star" data-inline="false"></span>Starred</a>
		<a><span class="iconify" data-inline="false" data-icon="carbon:categories"></span>Categories</a>
		<a><span class="iconify" data-icon="carbon:star" data-inline="false"></span>Download</a>
		<a><span class="iconify" data-icon="carbon:user" data-inline="false"></span>My Contributions</a>
	</div>
	<p>
		Copyright © TheCodeblog.net<br/>
		All right reserved.
	</p>
</div>