<div class="sidebar">
	<div class="sidebar-item">
		<a href='{% url 'recent' %}' class="{% ifequal active 0 %}active{% endifequal %}"><span class="iconify" data-icon="akar-icons:grid" data-inline="false"></span>Recent</a>
		<a class="{% ifequal active 1 %}active{% endifequal %}"><span class="iconify" data-icon="carbon:star" data-inline="false"></span>Starred</a>
		<a href="/categories" class="{% ifequal active 2 %}active{% endifequal %}"><span class="iconify" data-inline="false" data-icon="carbon:categories"></span>Categories</a>
		<a href="/download" class="{% ifequal active 3 %}active{% endifequal %}"><span class="iconify" data-icon="carbon:star" data-inline="false"></span>Download</a>
		<a href="/stats" class="{% ifequal active 4 %}active{% endifequal %}"><span class="iconify" data-icon="carbon:chart-line-data" data-inline="false"></span>Statistic</a>
		<a href="/profile" class="{% ifequal active 5 %}active{% endifequal %}"><span class="iconify" data-icon="carbon:user" data-inline="false"></span>My Profile</a>
		{% if user.is_superuser %}
			<a href="/admin"><span class="iconify" data-icon="carbon:gui-management" data-inline="false"></span>Administration</a>
		{% endif %}
	</div>
	<p>
		Copyright © TheCodeblog.net<br/>
		All right reserved.
	</p>
</div>